@import "src/app/styles/mixins";

.title {
  font-size: var(--space-lg);
  color: var(--theme-text-secondary);
}

.total {
  height: 147px;
  border: 1px solid var(--theme-border);
  box-sizing: border-box;
  border-radius: 4px;
  &__computed {
    padding: 0 var(--space-md);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--theme-text-secondary);
  }
  &__description {
    display: flex;
    align-items: center;
    height: 45px;
    padding: 0 var(--space-md);
    background-color: var(--theme-secondary);
    font-size: var(--space-sm);
    border-radius: 0 0 4px 4px;
  }
  &__amount {
    color: var(--theme-primary);
    font-size: var(--space-lg);
  }
}
